# Xcode build output
DerivedData/
build/

# Xcode user-specific files
xcuserdata/
*.xcuserstate

# Swift Package Manager
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# macOS system files
.DS_Store

# Xcode workspace
*.xcworkspace
